GD1A_SIDE_MICHENAUD_PRESENTATION.pdf
#contient des assets non libre de droits
#lien de la présentation : https://docs.google.com/presentation/d/1XRFPne7oHW5WBSpikO8SqhJ52vYbCzDz7epfjX4xNtg/edit#slide=id.gc79f849713_0_30
# ou le format pdf : https://drive.google.com/file/d/1zs-dRG-2WfXxXWKBYE_DA0Y_YMn4I1N4/view?usp=sharing